* text=auto eol=lf
*.sh text eol=lf
.husky/pre-commit text eol=lf
.husky/pre-push text eol=lf
.husky/commit-msg text eol=lf
Dockerfile eol=lf
docker-compose.yml eol=lf
docker-compose.*.yml eol=lf
*.jpg binary
*.png binary 
*.gif binary 
*.woff binary 
*.tff binary 
*.eot binary 
*.otf binary